<div class="page_caption">
	<h1>O Mnie</h1>
</div>

<div id="content_wrapper">

	<!-- Begin content -->
	<div id="page_content_wrapper">
		<div class="inner">

			<!-- Begin main content -->
			<div class="inner_wrapper">

				<div class="sidebar_content full_width">

					<div class="lightgallery">
						<a href="http://kasia.weekendwarrior.eu/wp-content/gallery/o-mnie/img_5954_wynik.jpg">
							<img src="http://kasia.weekendwarrior.eu/wp-content/gallery/o-mnie/thumbs/thumbs_img_5954_wynik.jpg" />
						</a>
						<a href="http://kasia.weekendwarrior.eu/wp-content/gallery/o-mnie/autoportret_wynik.jpg">
							<img src="http://kasia.weekendwarrior.eu/wp-content/gallery/o-mnie/thumbs/thumbs_autoportret_wynik.jpg" />
						</a>
					</div>

					<br class="clear">

					{{> socials}}
				</div>

			</div>
		</div>

		<br class="clear">
	</div>

	<br class="clear">
</div>

{{#section 'head_css'}} {{> lightgallery-head }} {{/section}}
{{#section 'body_js'}} {{> lightgallery-body }} {{/section}}
