<div class="container">
	<div class="jumbotron"><img src="/public/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p>
			This is a customized <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website
			which uses latest versions of <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.vuejs.org/' target='_blank'>VueJs</a>.
		</p>
		<hr>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
	</div>
</div>
