<div class="container">
	<div class="row">
		<div class="col col-sm-8 col-md-9 content">
			{{>post}}
			<div id="app-comments">
				{{>comments}}
			</div>
		</div>
		<div class="col col-sm-4 col-md-3 sidebar">
			<div>Szukaj</div>
			<div>Ostatnie Wpisy</div>
			<div>Archiwa ?</div>
		</div>
	</div>
</div>

{{#section 'head_css'}}
	<link href="/public/css/blog.css?v={{version}}" rel="stylesheet">
{{/section}}
{{#section 'body_js'}} {{/section}}
