<ul class="pagination">
	<li {{#unless posts.previous}}class="disabled"{{/unless}}>
		<a href="{{paginationPreviousUrl posts.previous}}">
			<span class="fas fa-chevron-left"></span>
		</a>
	</li>
	{{{paginationNavigation posts.pages posts.currentPage posts.totalPages}}}
	<li {{#unless posts.next}}class="disabled"{{/unless}}>
		<a href="{{paginationNextUrl posts.next posts.totalPages}}">
			<span class="fas fa-chevron-right"></span>
		</a>
	</li>
</ul>
