<div class="container my-container">
	<div class="row h-100 my-row">
		<div class="col-12 my-header">Header</div>
		

		<div class="col-12 my-auto my-content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet sem a arcu mollis pulvinar quis vel velit. Vivamus
			volutpat leo sed consectetur fringilla. Cras at massa facilisis, iaculis quam at, vestibulum leo. Pellentesque viverra
			nisl id augue suscipit lobortis. Cras laoreet dolor in mauris aliquam, id gravida mi scelerisque. Quisque id lectus cursus,
			dictum lectus ut, pretium sem. Quisque a magna eget diam porta egestas ac vel augue. Nulla dignissim diam hendrerit ornare
			volutpat. Integer sodales lacus nec tellus tempor cursus. Aenean finibus tortor nec nisl interdum, sed laoreet lorem sagittis.
			Cras at odio lacinia, pharetra arcu sit amet, dapibus arcu. Morbi finibus dui vitae vehicula vehicula. Vestibulum sit
			amet nunc sit amet purus hendrerit pulvinar a egestas mauris. Nulla gravida leo laoreet imperdiet tempus. Etiam sed tellus
			at felis tempor eleifend eu tempus mauris. Donec malesuada dui et purus tristique, eget consectetur nibh imperdiet. In
			at quam luctus, bibendum elit vitae, dapibus dui. Praesent posuere erat eget magna iaculis finibus. Sed porttitor magna
			nec volutpat interdum.
		</div>

		<div class="col-12 my-footer">Footer</div>
	</div>
</div>

{{#section 'head_css'}}
<style>
	.my-container {
		height: 200px;
		background-color: green;
	}

	.my-header {
		background-color: blue;
	}

	.my-footer {
		background-color: yellow;
	}

	.my-row {
		border: 1px dashed red;
	}

	.my-content {
		overflow-y: auto;
	}
</style>
{{/section}}
